/* common.css */

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* 
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Poppins', sans-serif;
*/

*{box-sizing: border-box; font-family: 'Poppins', 'Nanum Gothic', sans-serif;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}


/* header part */
#header{ 
    width: 100%; height: 100vh;
    background-image: url(../img/main_01.jpg);
    background-size: cover; background-position: 50% 50%;
    position: relative;
    overflow: hidden;
}
#header .movie_space{ 
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 160%; height: 160%;
    object-fit: fill;
}
#header .dark_bg{ 
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(../img/dot_pattern.png);
}
#header .dark_bg .main_title{ 
    position: absolute; top: 66.66%; left: 50%;
    transform: translate(-50%, -50%);
}
#header .dark_bg .main_title img{ 
    display: block;
    width: 300px;
}
#header nav{ 
    position: absolute; bottom: 0; left: 0;
    width: 100%; height: 80px;
    background-color: #1f232f;
}
#header nav .frame{ 
    width: 960px; height: 100%;
    margin: 0 auto;
}
#header nav .frame .close_btn{ }
#header nav .frame ul{ 
    height: 100%;
    display: flex;
}
#header nav .frame ul li{
    width: 20%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#header nav .frame ul li a{ 
    display: block;
    color: #aaa; font-size: 17px;
    text-transform: uppercase;
}
#header nav .frame ul li:hover a{ color: #fff;}
#header nav .frame ul li.active a::after{
    content: ""; display: block;
    position: absolute; bottom: 0; left: 0;
    width: 100%; height: 4px;
    background-color: #fff;   
}
#header nav .frame ul li.active a{ color: #fff;}


/* footer part */
#footer{ 
    width: 100%; 
    background-color: #191919;
    text-align: center;
}
#footer p{ 
    font-size: 15px; color: #aaa;
    line-height: 60px;
}


.dark_res{ 
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; opacity: 0;
}
.dark_res.active{ 
    z-index: 1; opacity: 1;
    transition: opacity 0.5s;
}
.res_btn{ 
    position: fixed; top: 20px; right: 20px;
    width: 40px; height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    display: none;
}
.res_btn span{ }
.res_btn span img{ 
    display: block;
    height: 28px;
    filter: invert(90%);
}
.res_btn:hover span img{ filter: invert(100%);}
.close_btn{
    position: absolute; top: 20px; right: 20px;
    cursor: pointer;
    display: none;
}
.close_btn img{ 
    display: block;
    height: 28px;
    filter: invert(90%);
}
.close_btn:hover img{ filter: invert(100%);}


@media (max-width: 1199px){
    #header{ height: 80vh;}
    #header .dark_bg .main_title img{ width: 240px;}
}
@media (max-width: 959px){
    #header{ height: 60vh;}
    #header .dark_bg .main_title{  top: 55%;}
    #header nav .frame{ width: 100%;}
}
@media (max-width: 767px){
    #header{ height: 50vh;}
    #header .movie_space{ display: none;}
    #header .dark_bg .main_title{  top: 50%;}
    #header .dark_bg .main_title img{ width: 200px;}
    .res_btn{ display: flex;}
    .close_btn{ display: block;}
    #header .res_btn span{ cursor: pointer;}
    #header .res_btn span img{ height: 28px;}
    #header nav{ 
        position: fixed; top: 0; right: -320px; 
        bottom: auto; left: auto;
        width: 320px; height: 100%;
        z-index: 4;
        transition: right 0.5s;
    }
    #header nav.active{ right: 0;}

    #header nav .frame{ padding: 60px 20px 0;}
    #header nav .frame ul{ 
        flex-direction: column; flex-wrap: wrap;
    }
    #header nav .frame ul li{ width: 100%; height: 60px;}
}



